src/main/mule/mule-demo1-application.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="1f34f6cb-25bc-47a6-a8f3-da027ac84153" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="mule-demo-applicationFlow" doc:id="058e6da1-915f-41f6-b14f-5299722850c6" >
		<http:listener doc:name="Listener" doc:id="9c11ce39-ad3e-4bd6-ae65-2fd8d093c12e" config-ref="HTTP_Listener_config" path="/welcome"/>
		<set-payload value='#["Welcome to the deployment demo1 using mule maven plugin"]' doc:name="Set Payload" doc:id="e709e927-84ba-4207-b872-3d4a6e722a71" />
	</flow>
</mule>
